body {
  background-color: black;
  font-family: Consolas, "Courier New", Courier, monospace;
  text-align: center;
  color: white;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh; /* 80% of viewport screen */
}