---
title: blog has RSS now!
tags: blog-post
date: 2025-02-28
description: hip, hip, hooray.
layout: "blog_post.njk"
---

<p>Eleventy lets me do this really really painlessly. Cool!</p>

<p>
    Found this one guy's really cool blog post/website while I was at it:
    <a href="https://kevincox.ca/2023/06/27/decade-of-rss-via-email/">
        https://kevincox.ca/2023/06/27/decade-of-rss-via-email/
    </a>
    . I love low CSS sites like this one. Hmmm, I should get an RSS reader so I
    can look at this kind of stuff.
</p>

<p>
    Transgender by Crystal Castles is pretty nice. found a video of some youtube
    channel "wontbelong" dancing to it some while back:
    <a href="https://youtu.be/aWvS7i7Eri4">https://youtu.be/aWvS7i7Eri4</a>
    . Has a nice pixel filter that makes it feel real old. Speaking of old
    things, check out this cool video/channel CS Ghost with that tangential vibe
    (flipnote haneta style):
    <a href="https://youtu.be/nso9U0jlGfY">https://youtu.be/nso9U0jlGfY</a>
    . Highly rec the entire channel.
</p>

<p>
    footnote reminder: I should really turn all these blog post links from
    <code>camelCase</code>
    to kebab-
    <code>case</code>
    . (love this naming convention, here's some more:
    <code>PascalCase</code>
    ,
    <code>snake_case</code>
    ,
    <code>SCREAMING_SNAKE_CASE</code>
    !!!).
</p>
