---
title: Devil daggers and i got a sword
tags: blog-post
date: 2023-01-04
description:  short one. DD is a video game. the sword is irl.  
layout: "blog_post.njk"
---

<p>Devil Daggers is a really cool game.</p>

<p>here's the stupidly in-depth (in a good way) review video i watched:
<a href="https://youtu.be/63hIc-i1bY4" target="_blank" rel="noopener noreferrer">How This Game Controls Your Heartbeat by Mental Checkpoint</a></p>

<p>here's some gameplay. skip to the end if you want to see the crazy stuff: 
<a href="https://youtu.be/Bc3ecpuQU5o" target="_blank" rel="noopener noreferrer">Devil Daggers V3.2 1222.9550 (Ex-World Record) by c</a></p>

<p>also, i got a red dragon synthetic sparring longsword. cool as hell, looking to get into solo hema</p>

<p>also been loving <a href="https://youtu.be/7SM5laxokpg" target="_blank" rel="noopener noreferrer">Helena</a> by MCR. 
I keep on subsituting in "stars in your eyes" for some of the lyrics. I'm a sucker for stuff like that.</p>