---
title: eleventy and more updates
tags: blog-post
date: 2025-02-13
description: yahoo
layout: "blog_post.njk"
---

<p>site generated with eleventy. now. ouch so much work.</p>

<p>
    see:
    <a href="https://brandur.org/fragments/dark-mode-notes">
        https://brandur.org/fragments/dark-mode-notes
    </a>
    where apparently I should apparently have had that darkmode.js inline. and
    so it is, now.
</p>

<p>go listen/watch Giant Steps the jazz thing</p>
