---
title: est
tags: blog-post
date: 2023-01-16
description: microblog abt the abbreviation 
layout: "blog_post.njk"
---

<p>
what the "est" abbreviation is supposed to mean: Established<br>
my brain: Ever SinceT
</p>

<p>The Scarborough Fair/Canticle medley SLAPS</p>