---
title: league story
tags: blog-post
date: 2024-06-02
description: tilted shaco wins the game
layout: "blog_post.njk"
---

<p>
    Just playing a game of league, shaco mirror matchup support. Ours was
    winning and we were hard winning as a team, but the enemy shaco got so
    tilted in all chat that our fed master yi had such a good laugh they started
    a surrender vote and we voted 3 yes/2 no to surrender LMFAO
</p>

<p>what a time to be alive</p>
