---
title: how to lose time and money
tags: blog-post
date: 2025-03-21
description: tech blogs and a musing about paul graham's post
layout: "blog_post.njk"
---

<p>
    I've been reading lots of neat tech blogs! I use the Millet extension by
    <a href="https://azdavis.net/">azdavis</a>
    , and I've spent some time on his blog, which rabbit-holed me throughout the
    interwebs. The Millet extension cover image is drawn by
    <a href="https://yixinhe.me/index.html">Yixin He</a>
    , who has some other great art and code! That real-time stylization
    presentation is really cool, love that kind of stuff. I've seen a YouTube
    video somewhere of a similar concept in action and it's really interesting.
</p>

<p>
    Anyways, azdavis linked to a
    <a href="https://danluu.com/writing-non-advice/">post</a>
    by a tech blogger about writing, which mentioned a Paul Graham who writes
    in, apparently, a clean and simple "classical style" which I appreciate! So
    I followed that thread, which brings us to the title of this blog post,
    <a href="https://www.paulgraham.com/selfindulgence.html">
        How to Lose Time and Money
    </a>
    .
</p>

<p>
    There's a few interesting related ideas in that work (one of which being
    investment which is neat because I think he's a founder/CEO of ycombinator?
    don't remember). But I wanted to focus on this quote: "The most dangerous
    way to lose time is not to spend it having fun, but to spend it doing fake
    work."
</p>

<p>
    And that's really neat! Here I am doing fake work by writing a blog post
    right now. Although I enjoy archiving memories. This one side of "fake
    work," doing work that is more like play seems productive to me in a good
    way. Hobbies are important, I think? Taking time to embroider and hobby code
    and go outside is good. But sometimes, I get the feeling of unproductivity
    he mentions even though I partake in a hobby. This is usually when I am
    procrastinating work :/.
</p>

<p>
    The other side of "fake work" is actual work that isn't fun. (We're
    investigating the two diagonals of the Punnett square here, not really work
    and fun vs really work and not fun.) I also feel the icky unproductivity
    when I "procrastinate" on more important work by doing sort of work (e.g.
    clearing so so so many email or touching up a resume instead of doing a
    problem set). But that's interesting because technically this is productive
    work... Unfortunate.
</p>

<p>
    Not sure what I wanted to get at here, but the thoughts have been put down.
    Cheers!
</p>

<p>
    I've already recommended Line without a Hook, but it's on the mind again.
    Good song.
</p>
