---
title: math notation convention survey
tags: blog-post
date: 2025-03-24
description: link
layout: "blog_post.njk"
---

<p>
    <a href="https://cims.nyu.edu/~tjl8195/survey/results.html#q1"
        >https://cims.nyu.edu/~tjl8195/survey/results.html#q1</a
    >. That's pretty cool.
</p>
