---
title: microtype
tags: blog-post
date: 2025-05-08
description: oh my god pretty
layout: "blog_post.njk"
---

<p>damn. pretty.</p>

<ul>
    <li>
        <a
            href="https://mirrors.mit.edu/CTAN/macros/latex/contrib/microtype/microtype.pdf"
            >https://mirrors.mit.edu/CTAN/macros/latex/contrib/microtype/microtype.pdf</a
        >
    </li>
    <li>
        coming to typst? is this what this means?
        <a href="https://github.com/typst/typst/pull/6161"
            >https://github.com/typst/typst/pull/6161</a
        >
    </li>
</ul>
