---
title: perceptual color spaces
tags: blog-post
date: 2025-02-27
description: but don't they look pretty?
layout: "blog_post.njk"
---

<p>
    Have I really not made a post about perceptually uniform color spaces yet?
    They're pretty cool.
</p>

<p>check out these links!</p>

<ul>
    <li>
        <a href="https://bottosson.github.io/posts/colorwrong/">
            https://bottosson.github.io/posts/colorwrong/
        </a>
    </li>
    <li>
        <a href="https://bottosson.github.io/misc/colorpicker/">
            https://bottosson.github.io/misc/colorpicker/
        </a>
    </li>
    <li>
        <a
            href="https://cran.r-project.org/web/packages/viridis/vignettes/intro-to-viridis.html"
        >
            https://cran.r-project.org/web/packages/viridis/vignettes/intro-to-viridis.html
        </a>
    </li>
</ul>

<p>Hollow Knight soundtrack is pretty nice.</p>
