---
title: prettier code
tags: blog-post
date: 2025-03-14
description: as in the code formatter
layout: "blog_post.njk"
---

<p>
    content html files that generate this website are now fed through
    <a href="https://prettier.io/">prettier</a>! neat!
</p>

<p>
    I'm a big fan of well formatted code. I wish there was a good solution to
    SML code formatting... Haven't gotten around to implementing any of the
    current solutions
</p>

<p>
    Juliana Chahayed's cover of No Surprises by Radiohead is really nice. Audio
    fed into an old phone.
</p>
