---
title: python prof
tags: blog-post
date: 2025-09-02
description: read a blog post
layout: "blog_post.njk"
---

<p>read a blog post, and some interesting links from its hacker news post.</p>

<ul>
    <li>
        <a href="https://ohadravid.github.io/posts/2023-03-rusty-python/"
            >https://ohadravid.github.io/posts/2023-03-rusty-python/</a
        >
    </li>
    <li>
        <a href="https://github.com/pyutils/line_profiler"
            >https://github.com/pyutils/line_profiler</a
        >
    </li>
    <li>
        <a href="https://github.com/plasma-umass/scalene"
            >https://github.com/plasma-umass/scalene</a
        >
    </li>
</ul>

<p>
    also note snakeviz, which is mentioned with some frequency on the pygame
    discord.
</p>
