---
title: HN and future tag system
tags: blog-post
date: 2025-09-22
description: microblog + musing about more blog features
layout: "blog_post.njk"
---

<p>
    Read a cool HN post.
    <a href="https://hsu.cy/2025/09/how-to-read-hn/"
        >https://hsu.cy/2025/09/how-to-read-hn/</a
    >.
</p>

<p>
    Had the thought that I should probably create a proper tag system so I can
    not dump every blog and microblog post in the same massive feed. See
    <a href="https://www.11ty.dev/docs/quicktips/tag-pages/"
        >https://www.11ty.dev/docs/quicktips/tag-pages/</a
    >.
</p>
