---
title: grr tedium
tags: blog-post
date: 2025-02-25
description: github actions with eleventy
layout: "blog_post.njk"
---

<p>
This is a lot of work because this is such an old project that 
my repo is still named "master" instead of "main," which is what I think is messing things up.
</p>


<p>
Should be fixed now?
</p>