---
title: ubuntu installing R
tags: blog-post
date: 2025-03-30
description: this sucks
layout: "blog_post.njk"
---

<p>
    note to self: can install an up-to-date version of R from posit's cdn, of
    all places:
    <a href="https://docs.posit.co/resources/install-r.html"
        >https://docs.posit.co/resources/install-r.html</a
    >
</p>
