---
title: video game lore
tags: blog-post
date: 2025-03-22
description: nier automata
layout: "blog_post.njk"
---

<p>
    wait wait hold on <a href="https://nier.fandom.com/">nier automata</a> is
    really cool lore :0. Here's a really nice summary of it in a reddit comment:
    <a href="https://www.reddit.com/r/nier/comments/fr1nqv/comment/fltcpot/"
        >https://www.reddit.com/r/nier/comments/fr1nqv/comment/fltcpot/</a
    >.
</p>

<p>
    they also have a really neat (spoiler)
    <span class="spoiler">"fuck it, soul linked plague"</span> gimmick that a
    really good webcomic,
    <a href="https://sssscomic.com/">stand still stay silent</a>
    uses.
</p>

<p><a href="https://soma.fandom.com/">SOMA</a> is also really cool :0</p>
