---
title: wave function collapse and the duck konundrum
tags: blog-post
date: 2025-02-15
description: neat!
layout: "blog_post.njk"
---

<p>I found a wave function collapse explanation that was really cool: <a href="https://robertheaton.com/2018/12/17/wavefunction-collapse-algorithm/">
https://robertheaton.com/2018/12/17/wavefunction-collapse-algorithm/</a>.</p>

<p>reminds me of <a href="https://puzzles.mit.edu/2000/set5/6/Puzzle.html">The Duck Konundrum</a>, somehow.</p>