---
title: weird games
tags: blog-post
date: 2022-12-18
description: chess boxing, combat juggling, etc
layout: "blog_post.njk"
---

<p>Whew. Finals season. I might talk more about that later.</p>

<p>Weird sports are weird. I love them.</p>

<ul>
    <li>
        <a
            href="https://en.wikipedia.org/wiki/Chess_boxing"
            target="_blank"
            rel="noopener noreferrer"
        >
            Chess boxing
        </a>
        lmfao
    </li>
    <li>Competitive Beyblading</li>
    <li>
        <a
            href="https://en.wikipedia.org/wiki/Combat_(juggling)"
            target="_blank"
            rel="noopener noreferrer"
        >
            Combat juggling
        </a>
        putting spins on sports is funny. Have you ever seen that one meme of
        the wheelchair basketball game but it's edited to where they just become
        rocket league? Ok hold on let me just find it.
        <a
            href="https://youtu.be/D1Y7Y3aiiws"
            target="_blank"
            rel="noopener noreferrer"
        >
            Here it is.
        </a>
        Hopefully the link isn't dead.
    </li>
    <li>
        Speaking of video games and editing, check out
        <a
            href="https://www.youtube.com/@4096"
            target="_blank"
            rel="noopener noreferrer"
        >
            @4096
        </a>
        on YouTube. Really cool stuff.
    </li>
    <li>
        Everything by Landfall games lmfao. They're the ones that made
        <a
            href="https://landfall.se/totally-accurate-battle-simulator"
            target="_blank"
            rel="noopener noreferrer"
        >
            Totally Accurate Battle Simulator
        </a>
        ,
        <a
            href="https://landfall.se/totally-accurate-battlegrounds"
            target="_blank"
            rel="noopener noreferrer"
        >
            Totally Accurate Battlegrounds
        </a>
        , and a whole lot of other stuff.
    </li>
</ul>

<p>Alec Benjamin makes crisp music. Saint Bernard by Lincoln is still cool.</p>
