---
title: boil eggs
tags: garden-planter
description: instructions and such
layout: "garden_planter.njk"
---

<ul>
    <li>work toward getting boiled water in pot</li>
    <li>prep pot and eggs and THE CONTRAPTIONS</li>
    <li>
        when rolling boil, use THE CONTRAPTIONS to lower eggs into water
        <ul>
            <li>I use a wooden mixing spoon and chopsticks</li>
        </ul>
    </li>
    <li>leave in for 12 min or so. at least 10 for full firm?</li>
    <li>drain all water</li>
    <li>rinse eggs in pot with cold water to cool them and pot down</li>
    <li>peel eggs into pot or wtevr</li>
    <li>store eggs however</li>
</ul>
<p>from</p>
