---
title: don't eat these
tags: garden-planter
description: food reviews. particularly, to keep myself from eating things I really should know better about not enjoying.
layout: "garden_planter.njk"
---

<p>Anyways, here's my current list to myself:</p>
<ul>
    <li>
        ramen: I swear, this is always so mid. It's alright, but like, it's
        always JUST noodles. I could make this at home. Don't waste your money.
    </li>
    <li>
        double scoop of ice cream: TOO MUCH ICE CREAM! YEOWCH! This extends to
        all things that you think might be too much sweet. Ice cream floats are
        delish though.
    </li>
    <li>
        cotton candy: good for the teensiest of bits. make sure you're eating
        with friends.
    </li>
    <li>
        pulled pork: uhh. it's alright. could be better or worse. really think
        about getting it.
    </li>
</ul>
