---
title: pedagogy and technical writing
tags: garden-planter
description: people love leaving legacies or whatever. would suck for it to be incomprehensible.
layout: "garden_planter.njk"
---

<p>some relevant links:</p>
<ul>
    <li>
        <a
            href="https://betterexplained.com/articles/developing-your-intuition-for-math/"
            >developing intution for math</a
        >: a blog post on how to do so
    </li>
    <li>
        <a
            href="https://byorgey.wordpress.com/2009/01/12/abstraction-intuition-and-the-monad-tutorial-fallacy/"
            >the monad tutorial fallacy</a
        >: why to, possibly, not make tutorials that teach your own intuition
        and metaphors (monads might not be burritos!).
    </li>
</ul>
