---
title: using color
tags: garden-planter
description: Perceptually uniform color spaces (and other choices of color in things).
layout: "garden_planter.njk"
---

<ul>
    <li>
        <a href="https://bottosson.github.io/posts/colorwrong/">
            https://bottosson.github.io/posts/colorwrong/
        </a>
    </li>
    <li>
        <a href="https://bottosson.github.io/misc/colorpicker/">
            https://bottosson.github.io/misc/colorpicker/
        </a>
    </li>
    <li>
        <a
            href="https://cran.r-project.org/web/packages/viridis/vignettes/intro-to-viridis.html"
        >
            https://cran.r-project.org/web/packages/viridis/vignettes/intro-to-viridis.html
        </a>
    </li>
    <li>
        <a href="https://colorbrewer2.org/">https://colorbrewer2.org/</a>
    </li>
    <li>
        <a href="https://stackoverflow.com/a/75652456"
            >stackoverflow guy cooks on diverging maps</a
        >
    </li>
    <li>
        <a
            href="https://matplotlib.org/stable/users/explain/colors/colormaps.html"
            >matplotlib docs colormap explanation</a
        >
    </li>
</ul>
