---
title: tutorials
tags: garden-planter
description: things I've done/tried to do and have written instructions about how to do again/try to get started.
layout: "garden_planter.njk"
---

<h2>quick notes</h2>

<p>
    refresh or redraw the screen if some UI element (eg the taskbar) is broken
    in ubuntu (gnome?)? do this by alt f2, r.
</p>

<p>
    <a href="https://blog.logrocket.com/css-breakpoints-responsive-design/"
        >https://blog.logrocket.com/css-breakpoints-responsive-design/</a
    >: really good article on css breakpoints
</p>

<p>
    installing gnome extensions with the
    <a
        href="https://gnome.pages.gitlab.gnome.org/gnome-browser-integration/pages/installation-guide.html"
        >recommended method</a
    >
    is broken by default on ubuntu 22. Use the extension manager application
    instead. (<a
        href="https://askubuntu.com/questions/1404497/how-to-install-gnome-shell-extensions-in-ubuntu-22-04-lts"
        >stackoverflow</a
    >)
</p>

<h2>articles</h2>

<p>🚧 UNDER CONSTRUCTION 🚧</p>
