---
title: tutorials
tags: garden-planter
description: things I've done/tried to do and have written instructions about how to do again/try to get started.
layout: "garden_planter.njk"
---

<h2>quick notes</h2>

<p>
    refresh or redraw the screen if some UI element (eg the taskbar) is broken
    in ubuntu (gnome?)? do this by alt f2, r.
</p>

<h2>articles</h2>

<p>🚧 UNDER CONSTRUCTION 🚧</p>
