body {
    font-family: "Times New Roman", Times, serif;
    max-width: 544px;
    margin: 0px;
    width: 80vw;
    overflow: hidden;
    position: absolute;
    left: 10vw;
}

h1:after { /*not working, eould also need to stop using <hr>*/
    margin: 3px 0px; 
    border-bottom: 1px solid black;
}

h2:before {
    content: "~$ ";
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.navbar img {
   /** padding-top: 10px;*/
}

pre code {
    overflow: auto;
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    white-space: pre-line;
}
