---
title: home
layout: "base.njk"
---

<hr />
<div id="quote">></div>
<noscript>
    <a id="noscript-quote" href="https://backrooms-wiki.wikidot.com/entity-71">
        > A broken ring of mail
    </a>
</noscript>
<hr />

<p>Heyo, it's amagicmuffin. Welcome to my little corner of the internet ^^</p>

<h2>who?</h2>

<p>Yeah I'm still figuring that one out.</p>

<p>
    I always have trouble writing bios because my interests change so often. My
    current ones are (as of the last time I updated this, Dec 2022) coding,
    inline skating (I just figured out how to soul slide! :D), and needlework.
</p>

<p>
    <a href="https://murid.neocities.org/about.html">
        About pages are curious things.
    </a>
    I hope mine was an interesting read &lt;3
</p>

<p>
    If you want to vibe check me more, you should check out the
    <a href="/blog/">blog</a>
    page.
</p>

<h2>asked?</h2>

<p>aw man</p>

<script src="/load_quote.js"></script>
