---
title: poetry
layout: "base.njk"
---

<p>
    I dislike the mortifying ordeal of not being known. And so I write poetry
    and so I write blog posts :3
</p>

<p>
    These aren't dated but should be ordered most recent towards the top, as I
    add them.
</p>

<p>
    <a href="/assets/poetry/sudo_apt_autoremove.pdf">sudo apt autoremove</a> -
    realized after running some system updates how the way we treat things can
    be pretty absurd if we anthropomorphize it (and pretty bad). Something about
    my mood at the time. As always, this one is a metaphor :(
</p>

<p>
    <a href="/assets/poetry/i_miss_you.pdf">i miss you</a> - I really enjoyed
    the writing in this one. spoilers:
    <span class="spoiler"
        >notice how italics almost never first-persons themself (only instance
        is their first comment), the blurred dichotomy(?) between thought and
        speech, because at the surface level this poem is about someone
        remembering someone else who died after eg listening to this song.</span
    >
    I wrote this after listening to a banger youtube mix, owen's talk to a star
    is really good, and the blue mentioned in the poem is from cavetown's meteor
    showers. Overall, the internal rhyme and other crazy lyrical fun shape is
    something i seem to like, either from soft stuff like cavetown and midwest
    emo like front bottoms and everyone's worried about owen. Source code at
    <a href="/assets/poetry/i_miss_you.typ">/assets/poetry/i_miss_you.typ</a>
</p>

<p>
    <a href="/assets/poetry/airport_231014_174555.txt_Feb2025update.pdf">
        airport_231014_174555.txt
    </a>
    - gave this an update formatting wise. meant to be printed out and folded
    into a pamphlet.
</p>

<p>
    <a href="/assets/poetry/hollow_viscus_injury.pdf">hollow viscus injury</a>
    <br />
    read like the first narrator in the game Disco Elysium. about having
    homework, or something.
</p>

<p>
    <a href="/assets/poetry/mystery_man.pdf">
        mystery man, hand, car door hook gun, etc etc.
    </a>
    <br />
    this is another ars poetica.
</p>

<p>
    <a href="/assets/poetry/death_of_the_author.pdf">The death of the author</a>
    <br />
    I joined a student poetry class at school! More poetry to probably come,
    then. Here's one I wrote about feelings on the death of the author:
    sometimes it's bad (but other times it's like the woah! two cakes! meme, and
    good).
</p>

<p>
    <a href="/assets/poetry/author.pdf">unnamed</a>
    <br />
    <a href="/assets/poetry/yell.pdf">unnamed</a>
    <br />
    <a href="/assets/poetry/lacerate_palms.pdf">lacerate palms</a>
    <br />
    I seem to only write poetry while in bad states of mind haha. interesting.
    Here's a poetry dump from what I have in storage that just got around to
    uploading.
</p>

<p>
    <a href="/assets/poetry/airport_231014_174555.txt.pdf">
        airport_231014_174555.txt
    </a>
    - this started out as my notes app todo list as I was packing up to go home
    from college. Then I started writing poetry skull emoji slkdj
</p>

<p>
    <a href="/assets/poetry/digging_fingernails_into_skin.txt">[redacted]</a>
    - thats not the name of the poem but it's one that I wrote during a mental
    breakdown kinda sorta lol sooo :p
</p>

<p>
    <a href="/assets/poetry/tollund.pdf">tollund</a>
    - me when I am at a grocery store for real for real
</p>
