---
title: stuff
layout: "base.njk"
---

<p>
    Stuff I've made, stuff I've joined, opinions of others are not my own, etc
    etc.
</p>

<h2>my webrings</h2>
<details>
    <summary>what the heck are webrings? (expand)</summary>
    <p>
        (explanation adapted from the
        <a
            href="https://hotlinewebring.club/"
            target="_blank"
            rel="noopener noreferrer"
        >
            Hotline Webring
        </a>
        )
    </p>
    <p>
        Do you long for a simpler time, when America was Online and the only
        person you could Ask was Jeeves? Hotline Webring is bringing that time
        back, with Webrings!
    </p>

    <p>
        In the 90s, search engines were of generally low quality, and people
        wanted a way to discover related sites. "I wish I could see more sites
        about puppies," you might say to yourself over the sonorous clang of
        your modem, while waiting for a bitmap of a Clumber Spaniel to load.
    </p>

    <p>
        So people with websites joined webrings, which were collections of sites
        where each site linked to their neighbors to form a ring. Sometimes
        there was one button on each site that'd take you to a random site in
        the webring. People got more traffic and less-popular sites benefited
        from being linked to more-popular ones.
    </p>

    <p>
        Now, in 2022 C.E., there are search engines and aggregators so finding
        related sites isn't that hard, and webrings have fallen by the wayside.
    </p>

    <p>They're still pretty cool though.</p>
</details>
<br />

<iframe
    id="bucket-webring"
    style="width: 100%; height: 3rem; border: none"
    src="https://webring.bucketfish.me/embed.html?name=amuffin&lightmode=true"
></iframe>
<div class="yw-widget-full" data-yw-url="https://amuffin.is-a.dev"></div>
<img src="/assets/buttons/broken_yesterweb.png" />

<h2>links in and out</h2>
<details>
    <summary>and what's all this then? (expand)</summary>
    <p>
        It's an old internet tradition to have 88x31 pixel "button" links to
        other websites, and to provide one of your own, or something. I think
        it's cute.
    </p>
</details>
<br />
<p>
    here's mine (thanks
    <a href="https://sadgrl.online/projects/88x31-button-maker">sadgrl</a>
    ):
</p>
<a href="https://amuffin.is-a.dev">
    <img src="/assets/buttons/buttonAmuffin.png" />
</a>
<br />

<p>here's others' (clickable):</p>
<a href="https://murid.neocities.org">
    <img src="/assets/buttons/buttonNeocitiesMurid.png" />
</a>
<a href="https://neoratz.neocities.org">
    <img src="/assets/buttons/buttonNeocitiesNeoratz.gif" />
</a>
<a href="https://seapunk.xyz">
    <img src="/assets/buttons/buttonSeapunk.gif" />
</a>
<a href="https://www.idi.moe"><img src="/assets/buttons/buttonIdi.png" /></a>
<a href="https://itsevergreen.rip">
    <img src="/assets/buttons/buttonItsevergreen.png" />
</a>
<a href="https://links.yesterweb.org">
    <img src="/assets/buttons/buttonYesterlinks.png" />
</a>
<a href="https://www.lejlart.com/apple.html">
    <img src="/assets/buttons/buttonAppledust.gif" />
</a>
<a href="https://sus.omg.lol"><img src="/assets/buttons/buttonVukky.png" /></a>
<a href="https://nimravidae.neocities.org/">
    <img
        style="background-color: #3d3e34"
        src="/assets/buttons/buttonNimravidae.gif"
    />
</a>
<a href="https://transrats.neocities.org/">
    <img src="/assets/buttons/buttonTransrats.gif" />
</a>
<a href="https://districts.neocities.org/">
    <img src="/assets/buttons/buttonDistricts.png" />
</a>
<a href="https://cloverbell.neocities.org/">
    <img src="/assets/buttons/buttonCloverbell.gif" />
</a>
<a href="https://kitecreature.net/">
    <img src="/assets/buttons/buttonKiteCreature.gif" />
</a>
<a href="https://snals.neocities.org/">
    <img src="/assets/buttons/buttonSnals.gif" />
</a>
<a href="https://nine-moonbeams.neocities.org/">
    <img src="/assets/buttons/buttonNineMoonbeams.gif" />
</a>
<a href="https://thaer.no/"><img src="/assets/buttons/buttonAether.png" /></a>
<a href="https://errormine.neocities.org/">
    <img src="/assets/buttons/buttonErrorMine.gif" />
</a>
<a href="https://bruisedgh0st.neocities.org/">
    <img src="/assets/buttons/buttonBruisedgh0st.png" />
</a>
<a href="https://dawnvoid.neocities.org">
    <img src="/assets/buttons/buttonDawnvoid.png" />
</a>
<a href="https://5amgirlfriend.neocities.org/">
    <img src="/assets/buttons/button5amgirlfriend.gif" />
</a>
<a href="https://lu.tiny-universes.net/">
    <img src="/assets/buttons/buttonLulu.gif" />
</a>
<a href="https://nuange.neocities.org/">
    <img src="/assets/buttons/buttonNuange.gif" />
</a>
<a href="https://ray-of-sunshine.net/">
    <img src="/assets/buttons/buttonRayOfSunshine.gif" />
</a>
<a href="https://punk-warren.neocities.org/">
    <img src="/assets/buttons/buttonPunkWarren.png" />
</a>
<a href="https://goblin-heart.net/">
    <img src="/assets/buttons/buttonGoblinHeart.png" />
</a>
<a href="https://molecule31.neocities.org/">
    <img src="/assets/buttons/buttonMolecule31.gif" />
</a>

<!--

write a blog post abt xkcd maybe, steal your forum post

https://8mb.video/
https://practicaltypography.com/introduction.html
-->

<h2>unlinked buttons</h2>
<img src="/assets/buttons/buttonQueercoding.png" />
<img src="/assets/buttons/buttonCss.png" />
<img src="/assets/buttons/buttonNotepad++.gif" />

<h2>my toybox and misc</h2>
<details>
    <summary>ok muffin none of these words are in the bible (expand)</summary>
    <p>something abt adoptables? claimables? idk but i didnt draw these.</p>
    <p>
        apparently its another way to link to other websites and for pixel
        artists to spread their art
    </p>
</details>
<br />
<a href="https://sleepysprout.neocities.org/index1">
    <img src="/assets/toys/toyFrog.png" />
</a>
<a href="http://caz.pausedlife.com/homepage.html">
    <img src="/assets/toys/toyStump.gif" />
</a>
<a href="https://www.lejlart.com/apple.html">
    <img src="/assets/toys/toyPlant1.gif" />
</a>
<a href="https://www.lejlart.com/apple.html">
    <img src="/assets/toys/toyPlant2.gif" />
</a>
<a href="https://www.lejlart.com/apple.html">
    <img src="/assets/toys/toyPlant3.gif" />
</a>
<a href="https://www.lejlart.com/apple.html">
    <img src="/assets/toys/toyLacroixDaisy.gif" />
</a>
<a href="https://www.lejlart.com/apple.html">
    <img src="/assets/toys/toyLacroixHydrangea.gif" />
</a>
<a href="https://www.lejlart.com/apple.html">
    <img src="/assets/toys/toyLacroixSunflower.gif" />
</a>
<a href="https://www.lejlart.com/apple.html">
    <img src="/assets/toys/toyLacroixTulip.gif" />
</a>
<a href="https://kitecreature.net/creatures/">
    <img src="/assets/toys/toyPhii.png" alt="A phii is living on this page!" />
</a>
<img src="/assets/toys/toyImmediate.gif" />

<!--hedgehogs quiz results-->
<div
    class="results"
    style="
        width: 200px;
        background-color: #fff;
        color: #000;
        padding: 10px;
        border: 1px solid;
        font-family: &quot;times&quot;;
        font-size: &quot;15pt&quot;;
    "
>
    <p style="margin: 0">This page is protected by a</p>
    <h1 class="title" style="margin: 0">HEDGEHOG</h1>
    <img
        class="image"
        style="max-width: 160px; border: 1px solid"
        alt="HEDGEHOG"
        src="/assets/hedgehog.jpg"
    />
    <p class="description">Hedgehogs are lactose intolerant.</p>
    <small>
        <a href="https://hekate.neocities.org" style="color: black">
            Want your own? Visit hekate.neocities.org!
        </a>
    </small>
</div>
<a href="https://seirdy.one/posts/2020/11/23/website-best-practices/">
    <img src="/assets/toys/toySeirdySerenity.png" />
</a>

<div
    style="
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        width: auto;
        background-color: var(--bg);
        color: var(--text);
        border: solid var(--text) 1px;
        padding: 10px;
        margin-top: 1em;
    "
>
    <a href="http://www.mabsland.com/Adoption.html">
        <img src="/assets/toys/toyNyraContent.png" />
    </a>
    <div style="margin-left: 0.5em">
        Say hi to Nyra! They're here bc they were the coolest looking out of the
        adopt-a-censorships to be completely honest. Regarding what TV rating
        this website is or whatever: uhhhh. idk, figure it out. I've been pretty
        kid friendly or such.
    </div>
</div>

<!--cat thing-->
<script>
    NekoType = "white";
</script>
<div id="nl">
    <script src="https://webneko.net/n20171213.js"></script>
    <a href="https://webneko.net">Neko</a>
</div>

<!-- cursed shenanigans start here -->

<script>
    // Make a DIV element draggable:
    dragElement(document.getElementById("dragSheepBox"));

    function dragElement(elmnt) {
        var pos1 = 0,
            pos2 = 0,
            pos3 = 0,
            pos4 = 0;
        if (document.getElementById(elmnt.id + "header")) {
            // if present, the header is where you move the DIV from:
            document.getElementById(elmnt.id + "header").onmousedown =
                dragMouseDown;
        } else {
            // otherwise, move the DIV from anywhere inside the DIV:
            elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            // set the element's new position:
            elmnt.style.top = elmnt.offsetTop - pos2 + "px";
            elmnt.style.left = elmnt.offsetLeft - pos1 + "px";
        }

        function closeDragElement() {
            // stop moving when mouse button is released:
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }
</script>

<script type="text/javascript">
    let sheepBoxes = 0;
    function spawnPlatform() {
        sheepBoxes += 1;
        document.getElementById("site-container").insertAdjacentHTML(
            "beforeend",
            `<div id="dragSheepBox${sheepBoxes}" style="text-align:center;position:absolute; height: 50px; width: 300px; background-color: var(--bg); color: var(--text); border: solid var(--text) 1px; padding: 10px">
	draggable platform for the sheep to land on.
	<button style="margin-top:10px" onclick="var sheep = new eSheep(); sheep.Start();">another sheep</button>
	<button style="margin-top:10px" onclick="spawnPlatform()">another platform</button>
</div>`,
        );
        dragElement(document.getElementById(`dragSheepBox${sheepBoxes}`));
    }
</script>

<h2>the sheep can be dragged btw</h2>
<div
    id="dragSheepBox"
    style="
        text-align: center;
        position: absolute;
        height: 50px;
        width: 300px;
        background-color: var(--bg);
        color: var(--text);
        border: solid var(--text) 1px;
        padding: 10px;
    "
>
    platform for the sheep to land on.
    <button
        style="margin-top: 10px"
        onclick="var sheep = new eSheep(); sheep.Start();"
    >
        another sheep
    </button>
    <button style="margin-top: 10px" onclick="spawnPlatform()">
        another platform
    </button>
</div>

<script src="https://adrianotiger.github.io/web-esheep/dist/esheep.min.js"></script>
<script>
    var sheep = new eSheep();
    sheep.Start();
</script>
